:root {
  --vp-c-brand: #c6715b;
  --vp-c-brand-dark: #c6715b;
  --vp-c-brand-light: #c6715b;
  --vp-c-brand-lighter: #c6715b;
  --vp-c-black-soft: #242424;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-image-filter: blur(150px);
  --vp-home-hero-image-background-image: linear-gradient(45deg, #ecaf07ea 50%, #c6715b 50%);
  --vp-home-hero-name-background: linear-gradient(45deg, #ecaf07ea, #c6715b);
  --vp-c-bg-alpha-with-backdrop: rgba(255, 255, 255, 0.7);
}

html .dark {
  --vp-c-brand: #c6715b;
  --vp-c-brand-light: #c6715b;
  --vp-c-bg: #242424;
  --vp-code-block-bg: #111;
  --vp-c-bg-alt: #242424;
}

.container .name {
  padding-top: 4vh;
  margin-bottom: 4vh;
}

.container .name,
.container .text,
.container .tagline {
  max-width: 100vw;
  text-align: center;
}

.container .actions {
  justify-content: center;
}

/* 首页小图标 */
.items .icon {
  margin: 20px auto;
}

/* 首页标题描述 */
.title,
.details {
  text-align: center;
}

/* 上一页，下一页 */
.prev .desc,
.prev .title {
  text-align: left;
}
.next .desc,
.next .title {
  text-align: right;
}

/* 头像 */
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.user-img:hover {
  transition: all 1s;
  transform: rotate(360deg);
}

.VPNavBar .content-body {
  backdrop-filter: saturate(50%) blur(8px);
  background-color: var(--vp-c-bg-alpha-with-backdrop) !important;
}

.VPNavBar .curtain {
  display: none !important;
}
